<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>
  <servlet>
    <servlet-name>headers</servlet-name>
    <servlet-class>
      com.oaklandsw.http.servlet.HeaderServlet
    </servlet-class>
  </servlet>

  <servlet>
    <servlet-name>timeout</servlet-name>
    <servlet-class>
      com.oaklandsw.http.servlet.TimeoutServlet
    </servlet-class>
  </servlet>

  <servlet>
    <servlet-name>params</servlet-name>
    <servlet-class>
      com.oaklandsw.http.servlet.ParamServlet
    </servlet-class>
  </servlet>

  <servlet>
    <servlet-name>perf</servlet-name>
    <servlet-class>
      com.oaklandsw.http.servlet.PerfServlet
    </servlet-class>
  </servlet>

  <servlet>
    <servlet-name>body</servlet-name>
    <servlet-class>
      com.oaklandsw.http.servlet.RequestBodyServlet
    </servlet-class>
  </servlet>

  <servlet>
    <servlet-name>redirect</servlet-name>
    <servlet-class>
      com.oaklandsw.http.servlet.RedirectServlet
    </servlet-class>
  </servlet>

  <servlet>
    <servlet-name>basicauth</servlet-name>
    <servlet-class>
      com.oaklandsw.http.servlet.BasicAuthServlet
    </servlet-class>
  </servlet>

  <servlet>
    <servlet-name>writecookie</servlet-name>
    <servlet-class>
      com.oaklandsw.http.servlet.WriteCookieServlet
    </servlet-class>
  </servlet>

  <servlet>
    <servlet-name>readcookie</servlet-name>
    <servlet-class>
      com.oaklandsw.http.servlet.ReadCookieServlet
    </servlet-class>
  </servlet>

  <servlet>
    <servlet-name>callmyself</servlet-name>
    <servlet-class>
      com.oaklandsw.http.servlet.CallMyselfServlet
    </servlet-class>
  </servlet>

  <servlet>
    <servlet-name>JnlpDownloadServlet</servlet-name>
    <servlet-class>
      jnlp.sample.servlet.JnlpDownloadServlet
    </servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>JnlpDownloadServlet</servlet-name>
    <url-pattern>*.jnlp</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>params</servlet-name>
    <url-pattern>/params</url-pattern>
  </servlet-mapping>

  <!--  uses JCIFS servlet filter below -->
  <servlet-mapping>
    <servlet-name>params</servlet-name>
    <url-pattern>/ntlmparams</url-pattern>
  </servlet-mapping>

  <!--  uses JCIFS/NTLMv2 servlet filter below -->
  <servlet-mapping>
    <servlet-name>params</servlet-name>
    <url-pattern>/ntlm2params</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>params</servlet-name>
    <url-pattern>/params3</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>perf</servlet-name>
    <url-pattern>/perf</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>headers</servlet-name>
    <url-pattern>/headers</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>timeout</servlet-name>
    <url-pattern>/timeout</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>body</servlet-name>
    <url-pattern>/body</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>redirect</servlet-name>
    <url-pattern>/redirect</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>basicauth</servlet-name>
    <url-pattern>/auth/basic</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>writecookie</servlet-name>
    <url-pattern>/cookie/write</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>readcookie</servlet-name>
    <url-pattern>/cookie/read</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>callmyself</servlet-name>
    <url-pattern>/callmyself</url-pattern>
  </servlet-mapping>

  <!--  the jcifs args need to be the same for both filters set below
        since they are set on a process basis -->
  <filter>
    <filter-name>NtlmHttpFilter</filter-name>
    <filter-class>jcifs.http.NtlmHttpFilter</filter-class>

    <init-param>
      <param-name>jcifs.http.domainController</param-name>
      <param-value>192.168.1.26</param-value>
    </init-param>
    <!-- this seems to be required for JCIFS with the original JCIFS filter -->
    <init-param>
      <param-name>jcifs.smb.client.domain</param-name>
      <param-value>oaklandswtest.com</param-value>
    </init-param>
    <init-param>
      <param-name>jcifs.smb.lmCompatibility</param-name>
      <param-value>5</param-value>
    </init-param>
    <init-param>
      <param-name>jcifs.util.loglevel</param-name>
      <param-value>6</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>NtlmHttpFilter</filter-name>
    <url-pattern>/ntlmparams</url-pattern>
  </filter-mapping>
 
  <filter>
    <filter-name>Ntlm2HttpFilter</filter-name>
    <filter-class>com.oaklandsw.http.servlet.NtlmHttpFilter</filter-class>
    <init-param>
      <param-name>jcifs.http.domainController</param-name>
      <param-value>192.168.1.26</param-value>
    </init-param>
    <init-param>
      <param-name>jcifs.smb.client.domain</param-name>
      <param-value>oaklandswtest.com</param-value>
    </init-param>
    <!-- 
    <init-param>
      <param-name>jcifs.netbios.wins</param-name>
      <param-value>win2k3</param-value>
    </init-param>
     -->
    <!-- 
    <init-param>
      <param-name>jcifs.smb.client.soTimeout</param-name>
      <param-value>5000</param-value>
    </init-param>
    -->    
    <init-param>
      <param-name>jcifs.smb.lmCompatibility</param-name>
      <param-value>5</param-value>
    </init-param>
    <init-param>
      <param-name>jcifs.util.loglevel</param-name>
    <!--  6 is full detail logging -->
      <param-value>6</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>Ntlm2HttpFilter</filter-name>
    <url-pattern>/ntlm2params</url-pattern>
  </filter-mapping>

</web-app>
